<ul class="list-group sidenav">
    <li class="list-group-item"><a class="navItem sidebar-item" href="/aplication/menu"><i class="fas fa-home"></i> </a></li>
    <li class="list-group-item"><a class="navItem sidebar-item" href="/aplication/agendar"><i class="far fa-calendar-alt"></i> </a></li>
    <li class="list-group-item"><a class="navItem sidebar-item" href="/aplication/calendar"><i class="far fa-calendar"></i> </a></li>
    <li class="list-group-item"><a class="navItem sidebar-item" href="/aplication/funcionarios"><i class="fas fa-users"></i> </a></li>
    <li class="list-group-item"><a class="navItem sidebar-item" href="/aplication/brinquedos"><i class="fas fa-warehouse"></i> </a></li>
    <li class="list-group-item"><a class="navItem sidebar-item" href="/aplication/relatorios"><i class="fas fa-file-alt"></i> </a></li>
    <li class="list-group-item"><a class="navItem sidebar-item" href="/aplication/perfil"><i class="fas fa-user"></i> </a></li>
    <li class="list-group-item"><a class="navItem sidebar-item" href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i> </a></li>
</ul>

