<main class="main-login">
<div class="container-login">
    <div class="title-login">Login</div>
    <div class="content-login">
        <form action="/usuarios/login/entrar" method="post">
            <div class="containerInput-login">
                <div class="input-box-login">
                    <span class="detailsL">Username ou Email: </span>
                    <input type="text" placeholder="Digite seu nome de usuário ou email..." name="email" required>
                </div>
                <div class="input-box-login">
                    <span class="detailsL">Senha: </span>
                    <input type="password" placeholder="Digite sua senha..." name="senha" required>
                </div>
            </div>
            <div class="button-login">
                <input type="submit" value="Login" id="btnLogin">
                <span>Não possui uma conta ainda? <a href="/usuarios/cadastro" class="irCadastro">Clique aqui para criar uma!</a></span>
            </div>
        </form>
    </div>
    {{#each erros}}
        <div class="alert alert-danger">{{texto}}</div>
    {{/each}}
</div>
</main>